// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: "ubuntu";
  src: url("../font/ubuntu-light-webfont.woff2") format("woff2"),
    url("../font/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ubuntu";
  src: url("../font/ubuntu-bold-webfont.woff2") format("woff2"),
    url("../font/ubuntu-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ubuntu-mono";
  src: url("../font/ubuntumono-regular-webfont.woff2") format("woff2"),
    url("../font/ubuntumono-regular-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
